html {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.navbar,
.section-one {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.container ul,
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 12px 0;
}

.container .links {
    display: flex;
    gap: 24px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 24px;
    border-radius: 10px;
}

.section-one .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.placeholder {
    color: #F9FAF8;
    background-color: gray;
    flex: 1 1 600px;
}