html {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.navbar,
.section-one {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.container ul,
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 12px 0;
}

.container .links {
    display: flex;
    gap: 24px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 24px;
    border-radius: 10px;
}

.section-one .container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 0;
    gap: 40px;
}

.placeholder {
    display: flex;
    color: #F9FAF8;
    background-color: gray;
    flex: 6;
    justify-content: center;
    align-items: center;
}

.section-one .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 5;
}

.section-two .header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.section-two .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 100px;
}

.cards {
    display: flex;
    gap: 50px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;

}
.space {
    border: 4px solid #3882F6;
    flex: 1 1 160px;
    border-radius: 10px;
}

.section-three {
    background-color: #E5E7EB;
}

.section-three .container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    padding: 130px 0 80px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding: 0;
}

.signature {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
}